*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body{
    background-color: rgb(40, 40, 40);
}



nav{
    margin: auto;
    width: 29vw;
    height: 40vw;
    font-size: 10vw;
    
}

nav > ul > li{
    color: wheat;
    transition: 500ms ease-in-out;
}

#Text1{
    font-size: 0.1vw;
    transition: 500 ease-in-out;
}

nav > ul > li:hover{
    color: rgb(255, 255, 255);
    scale: 1.1;
}

nav > ul > li:hover > #AboutMe{
    color: wheat;
}

#AboutMe{
    position: absolute;
    font-size: 1.5vw;
    width: 25vw;
    height: 8vw;
    transition: 500ms ease-in-out;
    left: 71.5vw;
    top: 13vw;
    color: rgb(255, 255, 255);
    overflow: hidden;
}




#Line1{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.2vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

#Line2{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0vw;
    width: 0.2vw;
    left: 70.5vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

#Line3{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.2vw;
    top: 21.5vw;
    left: 70.5vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}
#Line4{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.2vw;
    top: 14.15vw;
    left: 70.68vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

#Line5{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.25vw;
    top: 16.15vw;
    left: 70.68vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

#Line6{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.2vw;
    top: 17.95vw;
    left: 70.68vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

#Line7{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.208);
    height: 0.2vw;
    top: 19.65vw;
    left: 70.68vw;
    width: 0vw;
    transform-origin: center;
    transition: 500ms ease-in-out;
}

nav > ul > li > p{
    color: rgba(255, 255, 255, 0.043);
    position: absolute;
    width: 25vw;
    right: 3.5vw;
    top: 5vw;
    font-size: 1vw;
}


